.banner {
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-area: banner;
    .left,
    .right {
        h3 {
            font-size: 45px;

            font-family: justOne;
        }

        font-size: 15px;
        padding: 50px;
        flex-direction: column;
        display: flex;
    }
    .left {
        align-items: flex-start;
        justify-content: flex-end;
    }
    .right {
        align-items: center;
        justify-content: center;

        p {
            font-weight: 400;
            color: #868a95;
            width: 90%;
            span {
                color: rgb(0, 0, 0);
                font-size: xx-large;
            }
        }
    }
}
